
<form accept-charset="UTF-8" action="/test" method="get">
  <input type="input" name="client[name]" value="Acme" />
  <input type="input" name="client[phone]" value="12345" />
  <input type="input" name="client[address][postcode]" value="12345" />
  <input type="input" name="client[address][city]" value="Carrot City" />
  <button> submit</button>
</form>