





- books = ['book 1', 'book 2', 'book 3']
- arr = [1, 2, 3, 4, 5, 6]



%a(title=@title href=books) Stuff



%gee
  %whiz
    Wow this is cool!

%strong{:class => "code", :id => "message"} class= code, id = message
= image_tag "cat02.jpg"
.content .content!

<div style="border:1px solid #f00">border:1px solid #f00</div>
= @item

%strong = @d.breed

%strong{:class => "code", :id => "message"} Hello, World!

%div{:class =>"yoman", :id => "youngMan", :style => "background:#f00;width:30px"} yo


%span{:class => "fslarge1 icon-angular"}
%i{:class => "large material-icons"} shop
%div.code#message strong.code#message

%item
  = @item
  \= @item

#content
  .left.column
    %h2 Welcome to our site!
    %p= @item
  .right.column
    -# = render :partial => "sidebar"
