
<%= stylesheet_link_tag 'sass', media: 'all', 'data-turbolinks-track': 'reload' %>


<!-- NAV BEGIN -->
    <div class="nav">
        <ul class="navigation01">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="buttons">
          <a href="#" class="btn-main">Sign up</a>
          <a href="#" class="btn-hot">Get a Quote</a>
        </div>
    </div>
<!-- NAV END -->

    <header class="header01">
      <div class="bg-img"></div>
      
      <div class="header01__logo-box">
        <%= image_tag("sass_logo_01.png", :class => "header01__logo") %>
      </div>

      <div class="header01__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Main Content</span>
          <span class="heading-primary--sub">Sub Content here</span>
        </h1>
        <a href="#" class="btn btn--white btn--animated">enter here</a>
      </div>
    </header>
    

 
